package views

templ JokeForm(prevValue string, err string) {
	<form
 		method="post"
 		id="joke-form"
 		hx-post="/create"
 		hx-target="#joke-form"
 		hx-swap-oob="true"
	>
		<h2>Give us your best joke!</h2>
		<input name="joke" value={ prevValue } required placeholder="Enter a joke"/>
		if err!= "" {
			<p>Error: { err }</p>
		}
		<button type="submit">Submit Joke</button>
	</form>
}
